<Docs.docs_layout
  sections={@sections}
  mode={:live}
  active_entry_id={@entry.id}
  show_overview={true}
>
  <Docs.docs_component_detail
    entry={@entry}
    sections={@sections}
    mode={:live}
    root_prefix="/docs"
  />
</Docs.docs_layout>
