<Docs.docs_layout sections={@sections} mode={:live} show_overview={false}>
    <Docs.docs_overview_intro component_count={@component_count} show_count={true} />
    <Docs.docs_overview_sections sections={@sections} mode={:live} />
</Docs.docs_layout>
